.header {
    background-color: #1f2937;
    width: 100%;
    display: flex;
    height: 15%;
}

.headerTitle {
    /* position: relative; */
    /* top: 1rem; */
    display: flex;
    color: antiquewhite;
    font-size: 48px;
    font-family:sans-serif;
    box-sizing: content-box;
    width: 50%;
    border: solid black;
    justify-content:left;
    margin-top: 2%;
}

.linkContainer {
    width: 25px;
    height: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
    /* position: relative; */
    /* left: 85rem; */
    /* top: 10vh; */
    box-sizing: content-box;
    width: 50%;
    /* padding-left: 25%; */
    /* padding-right: 2%; */
    border: solid black;
    /* justify-content: space-between; */
}

.BFS {
    /* width: 100px; */
    /* height: 50px; */
    display: inline-block;
    border-radius: 40px;
    background-color: #FF5A5F;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 50px 16px;
    text-decoration: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    transition: transform 0.2s;   
}

.BFS:hover {
    transform: translateX(-2px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
}

.CLDS {
    display: inline-block;
    border-radius: 40px;
    background-color: #FF5A5F;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 50px 16px;
    text-decoration: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    transition: transform 0.2s;   
}

.CLDS:hover {
    transform: translateX(-2px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
}

.RKT {
    display: inline-block;
    border-radius: 40px;
    background-color: #FF5A5F;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 50px 16px;
    text-decoration: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    transition: transform 0.2s;   
}

.RKT:hover {
    transform: translateX(-2px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
}

.whyContainer {
background-color: aliceblue;
justify-content: right;
font-size: larger;
}